*{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

p{
    padding: 8px;
}

h1,h2{
    text-align: center;
}
.navbar{
    width: 100%;
    padding: 15px 75px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    color: #fff;
    background-color: rgb(74, 91, 97);
}

.navbar .navbar-logo h1{
    font-size: 34px;
    color: #10a37f;
}

.navbar ul{  
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar ul li{
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: 0.3s ease;
}

.navbar ul li a::before{
    content:'';
    position: absolute;
    width: 0;
    height: 2px;
    left:0;
    bottom:-5px;
    background-color: #10a37f;
    transition:0.3s ease;
}

.navbar ul li a:hover{
    color:#10a37f
}

.navbar ul li a:hover::before{
    width: 100%;
}

.navbar-login button{
    padding: 7px 19px;
    font-size: 17px;
    border-radius: 25px;
    border: none;
    outline:none;
    background-color:#10a37f;
    cursor: pointer;
    color: #fff;
    transition:0.3 ease;
}

.navbar-login button:hover{
    background-color: #0e8268;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  border-radius: 36px;
  background-color: lightgray;
}

.like-recipe{
    font-size:16px;
    color:#fff;
    background-color:rgb(74, 91, 97);
    border:none;
    outline: none;
    border-radius:5px;
    padding:10px 15px;
    cursor:pointer;
}

.like-recipe:hover{
    background-color:rgb(54, 71, 77);
}